.tooltip-container {
  position: relative;
  display: inline-block;
  box-shadow: inset -1px 1px 22px 10px rgba(255, 43, 43, 1);
}

.tooltip {
  position: absolute;
  bottom: -10%; /* Position above the text */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000; /* Ensure it appears above other elements */
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Position the arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(95, 27, 211) transparent transparent transparent; /* Arrow color */
}
